[2020-05-20 18:56] lightonflux opened #1 "Add license file"
Hi,
nice to see a new QR GUI app.

Could you add a license file to the project? So potential contributors and users know how they can use the or contribute to the program.

Thanks

[2020-05-21 05:38] hongquan commented on #1
Thanks, @lightonflux

I've just added the license file.

[2020-05-21 05:38] #1 closed

[2020-05-21 14:25] lightonflux opened #2 "GUI: Headerbar based Mockup"
Hello,

after reading the reddit thread, with the message about using header bars. I thought I try to come up with an idea how the application could use them.

This is just a WIP to try out some ideas. There are several issues (colours, alignment, icons) and not all functionality is included. I also have several ideas for a phone layout, but this is mostly about reordering elements based on the wi

[2020-05-21 15:59] hongquan commented on #2
@lightonflux Look great! Love it. However, I want to know more:

- If we are to show the scan result, where should it is placed? I also want a small, collapsed area to show raw string result (in case some users are curious what is behind those SSID, Wifi password info).
- We should prepare for mobile phone screen support in the future (to make it available for Librem phone). Can this design easily

[2020-05-21 16:02] hongquan opened #3 "Create debian package script for Logbook"
CoBang depends on [Logbook](https://pypi.org/project/Logbook/). To be able to package CoBang as _*.deb_ file and published to PPA, `logbook` must be available as _*.deb_ on some repo first.

[2020-05-22 08:01] hongquan commented on #3
Fortunately, there is already Ubuntu package for Logbook: https://launchpad.net/ubuntu/+source/logbook

The problem is that it is not released for Ubuntu 20.04.

We will backport it for Ubuntu 20.04.

[2020-05-22 09:55] Nimmerwoner commented on #2
I too made a design for CoBang. I mocked it up in Glade and made screenshots (see below). I did that without being aware of this issue and its ideas however, so some it's possible it proposes similar things or that lightonflux has some better ideas.

![Schermafdruk van 2020-05-22 09-44-36](https://user-images.githubusercontent.com/1112446/82655495-8efd2f80-9c22-11ea-8352-89d5a0c50f76.png)

![Scher

[2020-05-22 10:07] hongquan commented on #3
I have re-packaged it for Ubuntu 20.04 and upload to my PPA: https://launchpad.net/~ng-hong-quan/+archive/ubuntu/ppa

[2020-05-22 10:07] #3 closed

[2020-05-22 10:22] hongquan commented on #2
Thanks, @Nimmerwoner
I think, before the first release, I will modify current CoBang UI to follow your design:
- Move the webcam/image switch to HeaderBar.
- I will move the Play/Pause button to Overlay if it doesn't take long time. If it does, I will move the task to the next version. The reason I keep Play/Pause now because I still show the result in the main window. The Play button is to let us

[2020-05-22 14:44] lightonflux commented on #2
@Nimmerwoner very good points of criticism.
While i like the webcam / file switch in the top i see two issues:

 * They are displayed even in create mode. (Easy to fix)
 * Being pressed signifies the state. But if we have two or three webcams how to we signify both the webcam mode and hint that there is something to while in the webcam mode?
![Bildschirmfoto von 2020-05-22 16-36-55](https://user-i

[2020-05-22 14:57] lightonflux commented on #2
About the scan result UI:

I am really torn between having a proper display UI that is read only (with copy support) [1] or inserting the scan results in the same UI that is used for creating codes. This would make it easy to scan a code and modify it quickly.

1: Like this, but with copy to clipboard buttons and a save to disk feature (as qrcode png or when handling vcards for example)
![Bildschi

[2020-05-22 18:21] hongquan commented on #2
Good point, I didn't know that limitation.

One use case I aim to is that, someone want to build a scanner machine for warehouse, they can plug a 2nd webcam to machine to scan, and most of the time, that 2nd webcam is used, not the built-in webcam.

[2020-05-24 17:00] hongquan opened #4 "Create Debian packaging script"
We don't need to publish CoBang right now, just make a working packaging script, changing the project structure if needed.

[2020-05-24 17:03] hongquan commented on #4
The Debian tool `pybuild` doesn't support Poetry. It needs a _setup.py_ file.

Our data files need to be installed to _/usr/share_, but I have no idea how to tell Poetry, setup.py to do that.

https://github.com/jeromerobert/pdfarranger/blob/master/setup.py

[2020-05-25 17:36] hongquan commented on #4
Finish making packaging script. Added guide to README.

![image](https://user-images.githubusercontent.com/314607/82833682-f21fe800-9ee8-11ea-9e0c-a79a1f1b65a7.png)

[2020-05-25 17:36] #4 closed

[2020-05-25 17:59] hongquan commented on #2
I found that Ubuntu 20.04 just delivers old `libhandy` (v0.0.13), without Glade catalog. It blocks me from playing with `libhandy` now. I think I will deplay adopting libhandy until next Ubuntu release. Hope that libhandy will be v1.0 then :-)

[2020-05-26 04:26] hongquan opened #5 "Planned features"
- Generate QR code
- Drag/drop images
- Paste image from clipboard

[2020-05-27 08:18] nilsoffermann opened #6 "Package it as a Flatpak"
I really like this project and that it's a native GTK app without a dependency on X. Sadly I'm not on Ubuntu and I understand that I'd be too big of a hassle to package it for all the relevant distros out there. So could you package it as a Flatpak besides a native Ubuntu package please? That way all the people on the many distros that support Flatpak out of the box could easily find it in their s

[2020-05-27 16:01] hongquan commented on #6
@nilsoffermann I have never used Flatpak-distributed app before. But I will try to learn and package it at the weekend.

[2020-05-27 21:32] nilsoffermann commented on #6
Yes that'd be awesome! :D
There's some good documentation over [here](https://docs.flatpak.org/en/latest/)

[2020-05-30 21:46] jeteokeeffe commented on #6
I was going to flatpak this up but I couldn't get this working without a flatpak on Fedora 32.

So, maybe I'll save you some time with parts of flatpak manifest already built.  believe the python pip dependency is complete, maybe you want to restrict on pip versions (the dependency generator doesn't support poetry).

[code]

#1 Command will build the python dependencies
#2 Command will build the f

[2020-05-31 05:42] hongquan commented on #6
Thanks, I'm trying to Flatpak, too. But it turns out that it has some disadvantage:

- The Python version is limited by the Sdk provided by Flatpak. The latest one provides Python 3.7, while if we build as *.deb for Ubuntu 20.04, we can use Python 3.8 (and hence, can drop some dependencies, whose feature is already provided by Python 3.8).

- The developer (author) has to do more building job. For

[2020-05-31 06:06] hongquan opened #7 "Drop Cheese from dependencies"
We are using `CameraDeviceMonitor` from [Cheese](https://wiki.gnome.org/Apps/Cheese) to catch the event when webcam device is plugged or unplugged.

But it adds a burden to Flatpak building task. We don't use the whole Cheese app, but only a part of its library. While making deb package, it is just as easy as adding "gir1.2-cheese-3.0" to dependencies list, it is not the same when building Flatpak

[2020-05-31 08:14] #7 closed

[2020-05-31 23:12] lightonflux commented on #2
@hongquan the flatpak of glade on flathub ships with libhandy by default.

https://flathub.org/apps/details/org.gnome.Glade

And having a newer version of libhandy included in flatpak should fix the issue of Ubuntu having an older version. #6

![Bildschirmfoto von 2020-06-01 01-10-25](https://user-images.githubusercontent.com/1377943/83364874-b54e6800-a3a4-11ea-9c2e-a1b63488d88d.png)

[2020-05-31 23:15] lightonflux commented on #6
Which SDK and version are you referring to?

[2020-06-01 04:43] hongquan commented on #6
@lightonflux I use the latest one. Here are what in my machine:

[code]

Now it is possible to build as Flatpak from the source folder. Please checkout `master` branch of today, then run:

[code]

to build.

To test, run:

[code]

I haven't published to FlatHub yet.

[2020-06-03 08:55] hongquan commented on #6
The Flatpak build script is not working if I am running it in an separate, empty folder (when testing before [app submission](https://github.com/flathub/flathub/wiki/App-Submission#how-to-submit-an-app)). That is why it is not published to FlatHub yet.

[2020-06-04 11:15] hongquan commented on #6
Submitting app to FlatHub: https://github.com/flathub/flathub/pull/1565

[2020-06-04 16:22] hongquan commented on #2
While trying to build Flatpack (#6), I found that it is not convenience for development.
In development, every time you make a change, you need to run the app as fast as possible to see the result, to see if that change works as expected.

But the flatpak-builder forces rebuilding every time:

[code]

It become worse when Flatpak base image doesn't include some dependencies, requiring me to have t

[2020-06-06 05:55] pizzadude opened #8 "[Question] Does it work on X11?"
Does this app work on X11 DE's, like KDE Plasma 5?

Or do I have to use wayland?

[2020-06-06 06:50] hongquan commented on #8
@pizzadude I tested with Kubuntu in VirtualBox and it can render the GUI properly. Haven't tested with webcam because by some reason, my webcam cannot be shared to VM (the webcam doesn't appear in the list of "can-be-shared").
Other DE, like Xfce, LxQt, the GUI cannot be rendered, but I'm suspecting it is VirtualBox issue, not DE.
I may need to install those OS on real machine to test again.

[2020-06-06 06:56] pizzadude commented on #8
Ok. Thanks for replying. Looking forward to flathub release, because I don't use Ubuntu.

[2020-06-06 07:07] hongquan commented on #8
Just tested with Kubuntu again, after fixing "device-sharing" with VirtualBox. The webcam doesn't work, due to other bug (my lack of testing on non-OpenGL environment). Will fix and test again.

The FlatHub submission is on progress. Based on some issues found out when testing with Flatpak, it seems that I will have to disable one feature for the app running from Flatpak.

[2020-06-06 19:11] hongquan commented on #8
I finished testing on Kubuntu, Xubuntu, Lubuntu. All work with CoBang.

[2020-06-06 19:11] #8 closed

[2020-06-07 07:12] pizzadude commented on #8
Flatpak version confirmed working in Fedora 32 KDE. Thanks!

[2020-06-07 09:21] hongquan commented on #6
After so many effort, CoBang is already published to FlatHub: https://github.com/flathub/vn.hoabinh.quan.CoBang

Release v0.4.0 is being built and should be available soon.

[2020-06-07 09:21] #6 closed

[2020-06-09 05:13] johnfactotum commented on #2
@hongquan I think you should use `--ccache --force-clean` with `flatpak-builder` to avoid recompiling every time. Also in [GNOME Builder](https://wiki.gnome.org/Apps/Builder) you can simply click on the "Run" button (or <kbd>Ctrl</kbd>+<kbd>F5</kbd>) to build and run the Flatpak; it's quite convenient.

[2020-06-10 06:09] hongquan commented on #2
@johnfactotum

Fortunately, I found that I don't need to build `gst-plugins-good` from source. The Flatpak runtime already include the pre-compiled lib. It is just split in multiple libs, making me thought that it is not there.

[2020-06-13 12:45] hongquan opened #9 "Reduce discrepancy of building tools"
Due to the need of publishing our app to various channels, the build method are now too diverse:

- First, we use Poetry both to manage dependency and build, with the _pyproject.toml_ file being the main script for building. However, the 2nd purpose failed, because our app cannot be distributed via PyPI (due to the inclusion of desktop-integration files like icons, *\*.desktop* file).
- Then, we n

[2020-06-13 12:53] hongquan commented on #9
Debian team is attempting to support _pyproject.toml_ file: https://lists.debian.org/debian-python/2020/04/msg00061.html

[2020-06-18 04:01] hongquan opened #10 "Support SVG input"

[2020-06-18 19:21] #10 closed

[2020-06-22 14:56] hongquan opened #11 "Convert "Add file" button to overlay button"

[2020-06-22 14:57] hongquan opened #12 "Convert "Play/Pause" buttons to overlay"

[2020-06-22 16:52] pizzadude opened #13 "Flatpak broken"
After latest update the flatpak is broken.
Terminal log:
[code]

[2020-06-23 03:20] hongquan commented on #13
Thank you @pizzadude for reporting. I will fix.

[2020-06-23 07:31] hongquan commented on #13
The Flatpak package is fixed, but by some reason, the new version does not appear in FlatHub yet.

[2020-06-23 09:19] pizzadude commented on #13
It is fixed now. Thank you.

[2020-06-23 09:19] #13 closed

[2020-06-24 10:22] hongquan commented on #11
Give up, because the button obscures the guide text.

[2020-06-24 10:22] #11 closed

[2020-06-24 10:50] hongquan commented on #12
Done.

[2020-06-24 10:50] #12 closed

[2020-07-29 10:48] pepebc opened #15 "From ppa install error"
Intall from ppa on Ubuntu 20.04:

cobang: Depends: python3-single-version but will not install
             Depends: python3-logbook but will not install
             Depends: python3-kiss-headers but will not install

dependencies are not in the Ubuntu repositories

[2020-07-29 10:58] hongquan commented on #15
@pepebc  Those dependencies stay in the same PPA as CoBang:

![image](https://user-images.githubusercontent.com/314607/88792089-edb3cc00-d1c4-11ea-81bb-8b37d4ed92ac.png)

You should run `sudo apt update` again, and please show the result of

[code]

[2020-08-01 15:38] yochananmarqos opened #16 "Can't create or remove files in install directory"
I tested your latest commit, but it fails:

[code]
[code]

[code]
[code]

[code]
[code]

[2020-08-01 18:40] hongquan commented on #16
I think the line

[code]

in my _meson.build_ script should respect `DESTDIR` environment variable.

[2020-08-02 09:15] hongquan commented on #16
@yochananmarqos Please help test the 37a1a01d commit.

[2020-08-02 17:28] yochananmarqos commented on #16
No difference, I'm afraid.

[2020-08-03 04:29] hongquan commented on #16
@yochananmarqos Please send me the debug log (I don't use Arch, I cannot debug myself).

[2020-08-03 04:42] hongquan commented on #16
Found the reason. When your tool run

[code]

Meson just invoke Ninja to run the Ninja script generated previously. When the Ninja script was generated, the `DESTDIR` was not set, the the Ninja script didn't build the "python setup.py" command as we expected.

I'm looking for other solution.

[2020-08-03 06:03] hongquan commented on #16
@yochananmarqos This commit a54f71683fcf6403962923f95601cd676a03788e may fix it. Please help test.

[2020-08-03 14:22] yochananmarqos commented on #16
That did the trick! 👍️

[2020-08-03 14:22] #16 closed

[2020-09-09 13:34] hongquan commented on #15
No response from OP. Close now.

[2020-09-09 13:34] #15 closed

[2020-09-09 13:36] hongquan opened #17 "Mysterious crash on the first time detecting wifi info"
How to reproduce (not always reproducible):

- Restart PC
- Open CoBang
- Open Android phone, chose to share a wifi info under the form of QR code
- Show the QR code in front of CoBang

What is expected:
- CoBang show the wifi info in the right sidebar.

What happened:
- CoBang crashed.

[2020-09-13 16:26] hongquan opened #18 "Reading 2D barcode"
Currently, CoBang only read square QR code. It should support 2D barcode, too.

[2020-09-13 16:35] hongquan commented on #18
CoBang already can read some 2D barcode, but not this one:
![barcode](https://user-images.githubusercontent.com/314607/93023533-d9fbe200-f619-11ea-8579-2241f3da54eb.jpg)

[2020-09-13 16:40] hongquan commented on #18
This type of barcode is PDF 417 and ZBar doesn't support it.

[2020-09-13 17:14] hongquan commented on #18
Found [zxinglight](https://pypi.org/project/zxinglight/), which can read PDF-417, but there is problem in its dependency.

zxinglight depends on [glassechidna/zxing-cpp](https://github.com/glassechidna/zxing-cpp), which doesn't make into Debian/Ubuntu repository. Debian/Ubuntu instead supply [nu-book/zxing-cpp](https://github.com/nu-book/zxing-cpp), which looks more actively developed.

[2020-09-30 13:10] VicFic2006 opened #19 "Standalone Executable?"
Just for the sake of testing, making a a standalone executable([AppImage](https://appimage.org/) or [Pyinstaller](https://www.pyinstaller.org/)) might beneficial. Adding a PPA just for trying is a bit cumbersome. And not everybody has Flatpak setup.

[2020-09-30 13:59] hongquan commented on #19
@VicFic2006 Flatpak is not my idea. It is just because in early day, many Fedora guys were willing to test, so I tried to package it as Flatpak. I personally don't use Flatpak, because of some limitations in integration with the system (as mentioned in README).

Deploying in PPA is easier for development, because I don't have to build the dependencies. They are prebuilt and host in the repo. I jus

[2020-10-09 08:51] simdens opened #20 "Cobang on Arch"
I am trying to get cobang running on [Arch Linux](https://aur.archlinux.org/packages/cobang/) but it is throwing the error
`Traceback (most recent call last):
  File "/usr/lib/python3.8/site-packages/cobang/app.py", line 597, in on_new_webcam_sample
    img = zbar.Image(width, height, 'Y800', mapinfo.data)
TypeError: expected bytes, memoryview found`

Am I missing any dependencies or is this an co

[2020-10-10 11:47] hongquan commented on #20
@simdens Seems to be mismatch dependency. Maybe different version of GStreamer. Could you list the dependencies in your environment? I'm not used to Arch, so I don't know how it resolves the dependencies. I develop and tested on Ubuntu 20.04, whose GStreamer is at version 1.16.2.

[2020-10-10 11:51] hongquan commented on #20
And also, is there an equivalent of `python3-gst` package on ArchLinux? According to https://lazka.github.io/pgi-docs/Gst-1.0/classes/MapInfo.html#fields, the `mapinfo.data` should be `bytes` type. I don't know why in your machine, it becomes `memoryview`.

[2020-10-10 13:16] simdens commented on #20
I am using GStreamer 1.18.0 and zbar 0.23.1.
[Dependencies](https://aur.archlinux.org/packages/cobang/) are:
- gst-plugin-gtk
- gst-python (gst-python-git)
- libnm (libnm-secure, libnm-git, libnm-iwd)
- python-gobject (python-gobject-git)
- python-kiss-headers
- python-logbook
- python-single-version
- zbar
- python-pillow>=7.1.2 (python-pillow-simd, python-pillow-git)

Don't know if it is equival

[2020-10-11 04:08] hongquan commented on #20
@simdens I look into GStreamer v1.18 and see the different in gst-python, where they "overrides" the `MapInfo` class https://gitlab.freedesktop.org/gstreamer/gst-python/-/blob/1.18/gi/overrides/Gst.py#L599

Though I don't have GStreamer v1.18 on my machine, I will try a blind fix (I haven't been successful with installing ArchLinux in VirtualBox, the installer just hangs with black screen).

[2020-10-11 10:02] simdens commented on #20
@hongquan Nice to hear. If I can help with testing. Just let me know. Perhaps a docker container with Arch will help you during development: https://hub.docker.com/_/archlinux/

[2020-10-11 17:27] hongquan commented on #20
@simdens I've just pushed the change (76b8bf2). But don't know how to build it for ArchLinux.

@yochananmarqos Could you help?

[2020-10-11 18:29] simdens commented on #20
@hongquan I just recompiled it with the changes in app.py and now it works. Thanks :+1:

[2020-10-11 18:53] yochananmarqos commented on #20
The AUR package is updated with that commit and working well. :+1:

[2020-10-12 02:58] hongquan commented on #20
Thanks.

[2020-10-12 02:58] #20 closed

[2020-11-25 11:08] Trois-Six opened #22 "Not starting at all"
Hello,

Using the latest version from master (96742ffdf396ef16f6367d58e38785c8f37651cb), cobang doesn't start at all (debian sid fully updated from 2020/11/25):

[code]
It seems to be related to pipewire and gstreamer...

[2020-11-25 19:08] hongquan commented on #22
Hi @Trois-Six , which OS are you running, and why setting "LANG=C" environment variable?

The application has some non-English strings, so "LANG=C" will break it.

[2020-11-25 20:03] Trois-Six commented on #22
Hi!

I am using Debian Sid. I am setting LANG=C because my locale is fr_FR.UTF-8 and the error messages were in French.
I have just tested again cobang and it works fine when my PC is not docked.
I have another webcam when my PC is docked, maybe the problem is related to the fact that I had two webcams?

Pierre

[2020-11-26 04:48] hongquan commented on #22
@Trois-Six To make error message appear in English, you should pass `LANG=en_US.UTF-8`.

Maybe. I tested with:
- 2 webcam, no PipeWire
- PipeWire present, 1 webcam

But haven't tested with PipeWire + 2 webcam. Will test it tonight (the other webcam is at home) or tomorrow.

[2020-11-26 08:06] Trois-Six commented on #22
I don't have the problem anymore this morning after upgrade + reboot... I don't understand.
Anyway, the problem is not related to cobang I think, because now it works with two webcams and pipeWire.

[2020-11-26 08:06] #22 closed

[2020-12-18 09:56] 1Maxnet1 opened #23 "Flatpak version is outdated"
Other distributions then Ubuntu are advised to install the flatpak-version of CoBang, but the version in flatpak is outdated.

Is there a reason for this ?

Can you need help with publishing it on flatpak ?

[2020-12-18 10:55] hongquan commented on #23
@1Maxnet1 Yes, I need help. New CoBang version gets multi-language feature, but I'm struggling with packaging *.po and *.mo files for Flatpak.

[2020-12-18 10:58] 1Maxnet1 commented on #23
Okay. I will have a look into it, when I got some time :+1:

[2021-02-27 10:36] lgbaldoni opened #25 "0.6.2 install fails"
Packaging CoBang for openSUSE linux, this is what I see after the last update:
[code]

[2021-02-28 06:50] hongquan commented on #25
Hi @lgbaldoni, could you modify openSUSE build script, so that it install [`Babel`](https://pypi.org/project/Babel/) before building?

Currently, meson doesn't work because I haven't figured out why it doesn't see .*po files ([issue](https://github.com/hongquan/CoBang/issues/23#issuecomment-748020947)), so you should build it with _setup.py_.

But that is not all of headache. Recently, there is a

[2021-02-28 06:54] hongquan opened #26 "Issues in building and packaging"
Currently, there are two issues that will make building and packaging for other distros fail:
- I cannot make `meson` detect and building translation files (*.po). So build script calling meson will not work.
- The _setup.py_ doesn't install dependencies (like `Babel`). It is because recent [breaking change](https://github.com/pypa/setuptools/issues/1916) of `pip` make it fail if being called from

[2021-02-28 08:39] lgbaldoni commented on #25
That worked. Or at least the python bits were installed.

The .po files are indeed not processed. Will also have a look.

[2021-03-04 18:19] Kodiman opened #28 "suggestion"
hi, your CoBang app is excellent. please add to the user interface an easy way to copy raw results to the system clipboard (for copy and paste). such as a "Copy" (or Copy Result") button to click. much appreciated. best regards. thanks

[2021-03-05 02:25] hongquan commented on #28
Thanks, @Kodiman , I was not aware that it is needed by people. Will add it.

[2021-03-05 19:57] hongquan commented on #26
I got rid of _setup.py_ in favor of Meson.

[2021-03-05 19:57] #26 closed

[2021-03-05 19:57] hongquan commented on #25
Got rid of _setup.py_ in favor of Meson.

[2021-03-05 19:57] #25 closed

[2021-03-05 19:58] hongquan commented on #9
I got rid of _setup.py_ in favor of Meson.

[2021-03-06 06:50] hongquan commented on #28
Hi, the version 0.7.0 has been released with copy button.

[2021-03-06 06:50] #28 closed

[2021-03-06 06:52] hongquan commented on #23
Fixed building Flatpak and the it has caught up with Ubuntu package.

[2021-03-06 06:52] #23 closed

[2021-03-06 11:32] lgbaldoni opened #29 "[Question]: egg-info folder no longer installed"
Do you think that could possibly be a problem?

[2021-03-06 15:11] hongquan commented on #29
@lgbaldoni Yes, it is because I switched from _setup.py_ to Meson to build and Meson doesn't generate those info. I asked Meson author and got confirmed.

I switch to Meson because:
- `pip` recently has a breaking change, making _setup.py_ failed when building Debian package.
- The translation folder layout which is supported by _setup.py_ is not understood by Meson.

[2021-03-06 15:12] hongquan commented on #29
Many GUI Python apps which are built with Meson also lack _egg-info_ and seem not to have big problem.

[2021-03-06 15:23] yochananmarqos opened #31 "Locale fails to install"
I'm attempting to update the AUR package, but it's failing:

[code]

[2021-03-06 15:25] yochananmarqos opened #32 "Validating appstream file fails"
[code]

[2021-03-06 17:24] Kodiman commented on #28
hi, yes, i see you made it. you are excellent. much appreciated. best regards. thanks

[2021-03-06 17:38] yochananmarqos commented on #31
It's fixed with 0.8.0.

[2021-03-06 17:38] #31 closed

[2021-03-08 04:30] #32 closed

[2021-03-08 04:31] hongquan commented on #32
Thanks @yochananmarqos for reporting. I hope 16ca775 can fix it.

[2021-03-08 04:32] hongquan commented on #31
Thank you, I don't know why it failed and why 0.8.0 fixed it 😅.

[2021-03-08 15:30] yochananmarqos commented on #32
Now there are different errors:

[code]

[2021-03-09 02:09] hongquan commented on #32
So, my screenshots don't satisfy FlatHub criteria. I changed the command line in e42a50eb9fe4dbde3450faef76178bf349c722b1 to tell the check tool less strict.

[2021-04-24 16:00] hongquan commented on #17
Crash happens at this line:

https://github.com/hongquan/CoBang/blob/ab91b1bd94c7aed1fd7422ef8efe3f1a7dc5a349/cobang/app.py#L323

[2021-05-26 09:57] maxgerhardt opened #33 "App doesn't start, missing dependencies"
Installing the software per [this](https://askubuntu.com/a/1262902/868804)

gives

[code]

thus making it unstartable.

Then after finding [this](https://stackoverflow.com/a/19744099/5296568) and doing

[code]
the app was startable.

It seems you're missing some dependencies in the PPA install?

----

Extra info

[code]

[code]

[2021-05-27 03:37] hongquan commented on #33
Thank you @maxgerhardt for reporting this. It is true that I listed not enough dependencies.

[2021-06-30 16:34] lgbaldoni opened #34 "[Minor]: The close button doesn't actually close the about window"
As per subject.

Using openSUSE Tumbleweed

[2021-06-30 16:37] lgbaldoni opened #35 "Can't make video work"
Packaged 0.8.0 on openSUSE Tumbleweed, application start and it loads and properly decodes a file, but it doesn't show anything in the video tab.

This is what I see on startup:
[code]

What could be possibly missing?

Full disclosure: I'm using a simulated webcam via v4l2loopback. It creates /dev/video0 and according to strace, CoBang is opening it. It also works from a web browser.

[2021-06-30 16:44] hongquan commented on #35
Could you please give more info about your system: GTK version, GNOME version (if you use GNOME), GStreamer version?

[2021-06-30 17:31] lgbaldoni commented on #35
Using GTK v3.24.29, plasma5 5.22.2.1 and GStreamer 1.18.4.

Also on launch, I see this error, but not always:
[code]

Further detail I forgot to mention; I'm running openSUSE Tumbleweed in a VirtualBox VM, but that shouldn't be a problem, should it?

[2021-07-01 07:40] hongquan commented on #35
This is almost the same as Ubuntu 21.04 on my PC. But these warning message I never seen before, look like they are from lower level than the application.

About

Sound like something wrong with your OpenSUSE installation.

[2021-07-01 07:42] hongquan commented on #35
I remember when I tested CoBang in VirtualBox, I faced something wrong, that I had to warn in README. But not remember what is exactly.

[2021-07-01 09:08] lgbaldoni commented on #35
I have a `/usr/lib64/libpython3.8.so.1.0` on my system. Just not in that path and not the generic `.so` which is reserved to the linker, AFAIK.

No USB subsystem by default, perhaps?

Anyway, this ![cobang window](https://user-images.githubusercontent.com/1450716/124098154-95ccb780-da5c-11eb-93c2-b5a4ce9bd76e.jpg) is what I see: how come the video source is not detected?

[2021-07-01 09:22] lgbaldoni opened #36 "Please clarify licensing terms"
I see the package being under gpl3.0+, but apache 2.0 is mentioned [here](https://github.com/hongquan/CoBang/blob/main/cobang/app.py#L3), [here](https://github.com/hongquan/CoBang/blob/main/cobang/logging.py#L3) and [here](https://github.com/hongquan/CoBang/blob/main/cobang/__main__.py#L3).

Do both apply? Either? Only GPL?

[2021-07-01 09:37] lgbaldoni commented on #35
New warning:
[code]
(this is the only one now).

`dbus-monitor` shows some activity, and the following error lines appear only when cobang is running:
[code]

Couldn't debug further without knowing what to look for.

[2021-07-02 01:39] hongquan commented on #35
No, it is related to graphic (display/render). Could you test with OpenSUSE on real machine and real webcam?

[2021-07-02 14:12] JohnVeness opened #37 "Mention works with barcodes too"
Many thanks for this app. I think it would be a good idea if it could be mentioned that it works with 2D barcodes too (presumably it works with all codes that ZBar recognises), e.g. in the Readme, Github about text, Debian/Ubuntu package description, for ease of people finding your app when searching for "barcode".

[2021-07-02 15:22] hongquan commented on #37
Thank you, @JohnVeness . I didn't think about his. Will update.

[2021-07-03 04:15] hongquan commented on #36
@lgbaldoni Sorry, this is a bug. The license should be GPL3.0+. I will remove the Apache header.

[2021-07-03 12:16] hongquan commented on #37
Updated in v0.8.1.

[2021-07-03 12:16] #37 closed

[2021-07-03 12:16] hongquan commented on #36
Updated in v0.8.1.

[2021-07-03 12:16] #36 closed

[2021-07-03 12:17] hongquan commented on #33
Fixed in v0.8.1.

[2021-07-03 12:17] #33 closed

[2021-09-06 17:27] yochananmarqos opened #40 "Missing file in 0.9.0"
[code]

[2021-09-07 02:43] hongquan commented on #40
Thanks, @yochananmarqos . Such a shameful mistake. It is fixed in 463df6e9b50bda.

[2021-09-07 02:43] #40 closed

[2021-09-18 07:47] fdservices opened #42 "Camera not working on Pinephone"
I am running CoBang on a Pinephone with Arch Linux and Phosh.
Starting CoBang from the command line (SSH) shows:
`$ cobang

(__main__.py:12121): GStreamer-CRITICAL **: 08:43:05.970: gst_element_message_full_with_details: assertion 'GST_IS_ELEMENT (element)' failed

(__main__.py:12121): GStreamer-CRITICAL **: 08:43:05.971: gst_element_message_full_with_details: assertion 'GST_IS_ELEMENT (element)'

[2021-09-18 10:19] hongquan commented on #42
Hi @fdservices

According to MegaPixel author https://git.sr.ht/~martijnbraam/megapixels, these camera is not supported by higher-level library (GStreamer), he has to do low-level stuff to access this camera video stream. Doing like this requires to have a real device. I don't have a real device so I cannot do it. Hopefully the camera is supported by some higher-level libraries someday.

[2021-11-05 03:28] heidiwenger opened #43 "Package it as a Snap"
For an easy installation clicking in Software in Ubuntu, which is the first Linux distro for many new users now coming to Linux.

Thanks a million if this could be possible!

[2021-11-05 09:01] hongquan commented on #43
I will look into it. It may take sometimes for me to learn how to package as snap. Unfortunately my health is not good these days so I cannot spend time for it yet.

[2021-11-06 16:03] hongquan commented on #17
Solved by 02a7464.
So the tip is to move the operation to `GLib.idle_add`.

[2021-11-06 16:03] #17 closed

[2021-11-06 20:43] heidiwenger commented on #43
Thank you so much for being so kind, but health absolutely first, yes.

Here's a "Zero to snap in (much less than actually) 60 minutes" tutorial video by "Mr. Snap himself" Alan Pope (former Canonical) if it's of any help: https://www.youtube.com/watch?v=ikoUByA5BLU

Also there's one from his blog: https://popey.com/blog/2021/02/lets-go-snapping/

[2021-11-06 20:50] heidiwenger commented on #43
Oh i just remembered, there is also this spot for snaps (requests). People there can also help. I put CoBang there as a new request: https://forum.snapcraft.io/c/snap-requests/21

[2021-11-29 05:50] hongquan opened #45 "Crash when running inside Flatpak (v0.9+)"
Since v0.9, I cannot distribute CoBang as Flatpak, because CoBang crashes right after the webcam video plays. Tried downgrading GStreamer version to v1.16 but it still crashes.

[2021-11-29 05:57] #29 closed

[2021-11-29 06:05] hongquan commented on #29
Side note, _egg-info_ is [deprecated](https://packaging.python.org/discussions/wheel-vs-egg/) by _dist-info_ as a place to store metadata about installed packages. Unfortunately, both are not generated by Meson. However, there is a [spec](https://packaging.python.org/specifications/recording-installed-packages/) about _dist-info_ that we can base to make a Meson plugin to generate it.

In the wild

[2021-12-16 17:49] hongquan commented on #45
Fixed. Turn out may environment is damaged.Tried on another PC and it is Ok.

[2021-12-16 17:49] #45 closed

[2021-12-19 11:23] pherjung opened #49 "Unicode characters not showed"
If scanned QR code has some specials characters (like é, à, etc). CoBang doesn't handle it.

[2021-12-30 02:30] hongquan commented on #49
Thank you. I haven't tested it. Will fix.

[2021-12-30 02:34] hongquan commented on #49
@pherjung Could you give a screenshot? I've just tested and it can handle Unicode:

![image](https://user-images.githubusercontent.com/314607/147717113-c8539bf9-fad3-4252-91cf-211cc23e5c6b.png)

[2021-12-30 08:19] pherjung commented on #49
I have the issue using the webcam and importing the file.

![cobang_issue](https://user-images.githubusercontent.com/5952038/147733797-72b512d3-15d7-46f5-84f3-17b106e62824.png)

[2021-12-31 13:03] elpraga opened #50 "does not open on Ubuntu 20.04 installed from PPA"
I've installed cobang from the PPA.

It does not open. They only message I get is "Failed to register. Timed out."

Any ideas how to get it running?

[2021-12-31 15:32] hongquan commented on #50
@elpraga Could you take a screenshot?

[2021-12-31 15:49] hongquan commented on #49
@pherjung Could you share me that picture? I guess it is just your system configuration.

[2022-01-02 13:49] elpraga commented on #50
There's no screenshot to take. I only get this message when I start it from
the command line. When I start it from the menu, morning at all appears.

Do you want me to take a screenshot starting it from the commander line?

On Fri, 31 Dec 2021, 16:33 Nguyễn Hồng Quân, ***@***.***>
wrote:

[2022-01-02 14:35] hongquan commented on #50
@elpraga Yes, I mean the screenshot of your command line.

[2022-01-02 16:57] elpraga commented on #50
![Screenshot from 2022-01-02 17-56-05](https://user-images.githubusercontent.com/13814570/147883210-0c6d43c5-aeae-4ec9-9cd4-f7fabf54b8bd.png)

The first time I did not get any message at all. After killing `cobang` via the `killall` command, I got this message.

Is there a way to turn the verbosity up somehow?

[2022-01-02 23:58] hongquan commented on #50
Yes, run `cobang -v`.

And also please give me result of `which cobang`.

[2022-01-03 18:26] elpraga commented on #50
![Screenshot from 2022-01-03 19-24-12](https://user-images.githubusercontent.com/13814570/147965800-d4f93f49-db0a-4320-86c1-526451c64052.png)
![Screenshot from 2022-01-03 19-25-42](https://user-images.githubusercontent.com/13814570/147965866-dd36ed0f-19bf-43ec-98b6-dd070a763fa9.png)

Here you go!

[2022-01-03 20:46] pherjung commented on #49
![Capture d'écran_20220103_001](https://user-images.githubusercontent.com/5952038/147978545-a6b7ac34-a821-4189-8613-4725e94330e7.png)
Here is the picture. Is this fine for you?

[2022-01-04 13:36] hongquan commented on #50
@elpraga

Look like the app failed to start even before the logging is active.

That message is corresponding to the stage that, the app tried to register with the desktop session, so that the desktop session help keep only one instance of the app running (instead of many "CoBang" windows).

Which desktop environment are you using? Are you using standard Ubuntu or some "remix" spinoff?

[2022-01-04 13:46] elpraga commented on #50
Thank you for the hint @hongquan I tried to log out and log back in, and I was able to get more information. I am using the standard GNOME edition of Ubuntu 20.04 on Wayland.
![Screenshot from 2022-01-04 14-42-52](https://user-images.githubusercontent.com/13814570/148068191-500e2b5c-489d-4154-9947-169a9c9ee440.png)

I still cannot see any windows rendered.

[2022-01-05 10:22] hongquan commented on #49
Hi, I can reproduce the issue. Unfortunately, I cannot fix it right now, because it is a bug of the underlying library, ZBar, which assumes the text-encoding and tries to convert binary string to unicode before returning to the application.

I will try to contact ZBar developers for this issue.

[2022-01-07 01:38] hongquan commented on #50
I think I need to install Ubuntu 20.04 and test it myself.

[2022-01-07 19:21] elpraga commented on #50
I am very sorry I am unable to provide more information.

[2022-01-08 02:51] hongquan commented on #50
@elpraga I tried installing CoBang on Ubuntu 20.04 but couldn't reproduce the issue.
Could you try [resetting](https://www.linuxuprising.com/2019/03/how-to-reset-gnome-desktop-settings-to.html) GNOME settings and open CoBang again?

[2022-02-09 11:21] Fxsch opened #52 "Crash on startup"
I'm running Arch Linux and I've installed CoBang through the AUR.

When I start CoBang it instantly crashes. This is what the terminal shows me;

[code]

[2022-02-10 04:57] hongquan commented on #52
Thanks for reporting, @Fxsch

@yochananmarqos is the maintaner of ArchLinux package. Please help!

[2022-02-10 05:21] yochananmarqos commented on #52
Every time there's a major Python update like 3.10, one must rebuild their Python packages from the AUR. See this post for more info: https://www.reddit.com/r/archlinux/comments/rf6c84/psa_python_310_is_in_core_rebuild_your_aur/

[2022-02-10 14:25] #52 closed, assigned to nobody

[2022-02-26 16:10] WolfangAukang opened #53 "Consider the new version of Pillow (9.X)"
Thank you for the development of this application. Currently I'm porting it to Nixpkgs (https://github.com/NixOS/nixpkgs/pull/149729) and I can say it works as intended.

Unfortunately, the only reason I can't merge it yet is because Pillow has been recently updated to version 9.X. Not that I continuously use the application, but it would be something to consider for future versions, if possible.

[2022-03-04 12:12] hongquan commented on #53
@WolfangAukang Sorry I reply late because I has been sick these days.

I will try to upgrade the Pillow dependency. It will take time because I need to package python3-pillow for Ubuntu as well.

[2022-03-04 12:20] hongquan commented on #53
By the way, @WolfangAukang , could you try building CoBang with Pillow 9 in NixOS to see if it is compatible? I'm reluctant to add `python3-pil` v9 to Ubuntu because I worry it may break other softwares.

[2022-03-04 13:11] WolfangAukang commented on #53
Thanks for the reply @hongquan, and don't worry about it, it's just an enhancement request, so it is not urgent.

I have patched the `pyproject.toml` file to support Pillow and I can confirm it builds successfully, plus the image feature recognizes the QR perfectly. I can't test it with a camera because I don't have one, unfortunately.

[2022-03-08 01:26] WolfangAukang commented on #53
FYI, CoBang is now available on the nixpkgs repository. It was recently merged.

[2022-03-08 05:00] hongquan commented on #53
@WolfangAukang Great! Thanks.

I think, later on I will specify latest Pillow in _pyproject.toml_, but for Ubuntu package, I will choose the version in Ubuntu repository. It may help other distros do packaging easier.

[2022-04-15 16:25] elpraga commented on #50
Let's a little too much to ask ATM @hongquan as I am really busy, and I am using the environment to work. I will let you you know about any updates. Thank you for your help anyways!

[2022-05-16 11:08] ibahnasy opened #55 "CoBang doesn't work under Wayland"
Ubuntu 22.04 with Wayland.
`Gdk-Message: 13:07:48.828: Error flushing display: Protocol error`

[2022-05-16 20:52] ibahnasy commented on #55
@hongquan It's hybrid laptop, (intel + nvidia Geforce MX450).

[2022-07-04 14:22] rafael2k commented on #42
Libcamera does support the cameras and gstlibcamera gstreamer source does provide support for them.

[2022-07-27 22:54] hongquan opened #56 "Migrate to GTK 4 + Libadwaita"
Before adding QR code generation feature, before making UI more complex, let's move on the latest UI technology, so that the job of refactoring UI code less difficult.

Also, let's use Blueprint as language for UI. XML is too verbose. When using GTK 4 and Blueprint, we have to have a step to build UI files, so the current approach of running Python app in development have to be changed, we cannot

[2022-09-09 04:59] hongquan commented on #56
This work is blocked by the lack of a GStreamer + GTK4 plugin.

[2022-09-25 10:18] Enricone27 commented on #55
Same error here with flatpak...
`/app/bin/cobang: Zeile 9:     3 Speicherzugriffsfehler  (Speicherabzug geschrieben) /usr/bin/python3 -m cobang "$@"`
I deactivated Wayland Socket in Flatseal and now it works...

[2022-09-26 11:58] ndias opened #59 "Segmentation fault (core dumped) in Fedora 36"
Running from source I get a core dump, this is the last messages from running with -v

[code]

[2022-10-02 05:46] hongquan commented on #59
Thank you for reporting. For now I have no idea about the cause of this crash.

[2022-10-11 10:40] eregni opened #60 "displayed wifi passwords have max length of 20 characters"
I noticed the displayed wifi passwords have a max length of 20 characters. An Italian ISP (TIM) appears to use wifi passwords of 24 characters on their routers, so it might be interesting to increase the max-length of wifi passwords.

[2022-10-13 04:26] hongquan commented on #60
Resolved.

[2022-10-13 04:26] #60 closed

[2022-10-20 03:12] 36web commented on #5
I have an issue pasting image from clipboard, no further actions.
My desktop environment is XFCE.

[2022-10-20 06:03] hongquan commented on #5
@36web Which distro do you use? Version?

[2022-10-20 06:19] 36web commented on #5
Manjaro, it' an Archlinux based rolling update disto.